@import 'scss/_variables.scss';


.App {
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;




  .avContainer {
    position: relative;
    background: #00ff00;
    width: 500px;
    height: 500px;

    .streamName {
      padding: 6px 40px;
      position: absolute;
      font-size: 20px;
      z-index: 12;
      left: 50%;
      top: 65%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);

      div {
        font-variant: small-caps;
        span {
          padding-left: 3px;
        }
      }
    }

    .audioContainer{
      position: absolute; 
      top: 0px;
      left: 0px;
      z-index: 10;

      &.flipped {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }

    .circleContainer {
      border-radius: 50%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }

    .videoContainer {
     
      z-index: 5;
      width: 200px;
      height: 200px;
      border: 2px solid $blue_3;
    }

    .imageContainer {
      width: 200px;
      height: 200px;
      z-index: 4;
      img.mrChenzo {
        width: 110%
      }
    }
  }
}